* {
    margin: 0;
    padding: 0;
    font-size: 17px;
}
::-webkit-scrollbar {
    width: 5px;
    background-color:black;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(240, 248, 255, 0.748); 
    border-radius: 10px;
  }
body{
    scroll-behavior: smooth;
   background-color: #000000ef; 
}

.navbar {
    position: sticky;
    background: rgba(0, 0, 0, 0.793) url("../images/bg-fr.jpg");
    background-size:cover;
    background-blend-mode: overlay;

    top: 0;
    display: flex;
}

.navbar-items {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(99, 61, 10); */


}

.navbar-items li {
    list-style: none;
    padding: 6px 30px;

}

.navbar-items li a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar-items li a:hover {
    color: darkgrey;
}


.logo img {
    width: 64px;
    height: 64px;
    border: 4px solid rgb(43, 43, 43);
    border-radius: 100%;

}

.navbar .search {
    padding-right: 40px;
    padding-top: 18px;
    width: 50%;
    text-align: right;

}

#search{
    margin-right: 10px;
    background: none;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
 border: 1px solid rgba(227, 227, 227, 0.785);
    border-radius: 9px;
}
#search:focus{
    border-color: black;
    background-color: white;
    color: black;
}
#search:focus::after{
    border-color: white;
    background:none;
    color: white;
}

.btn-small {
    background: none;
    border: 1px solid rgba(227, 227, 227, 0.785);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.btn-small:hover{
    border-color: black;
    background-color: white;
    color: black;
}
.background {
    background: rgba(0, 0, 0, 0.7) url("../images/bg-fr.jpg");
    background-size: cover;
    background-blend-mode: darken;

}
.box-main{
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s1{
    height: 70%;
}
.s1 .p1{
    text-align: center;
    padding-top: 200px;
    font: 3.7rem sans-serif;
    font-weight: bold;
}
.s1 .p2{
    text-align: center;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.678);
}
.card-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.card-main::-webkit-scrollbar{
    scroll-snap-type: proximity;
    height: 5px;
    border-radius: 20px;
}
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(200, 201, 202);
    height: 100%;
  width:  100vw;
overflow: hidden;

  background-color: black;
}
.c1{
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 width: 100%;


}
.c1 img{
    height: 400px;
    width: 300px;
}
.para{
    padding-right: 10px;
}
.para .head{
    text-align: center;
    font-weight: 500;
    font-size: 42px;
}
.para ul{
word-wrap: break-word;
}
.c2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
   
   
   }
   .c2 img{
       height: 400px;
       width: 300px;
   }
   .para{
       padding-left: 40px;
   }
   .para .head{
       text-align: center;
       font-weight: 500;
       font-size: 42px;
   }
   .para ul{
   word-wrap: break-word;
   }






.faq{
    padding: 5rem 12%;
    text-align: center;
    font-size: 18px;
    color: aliceblue;
    background-color: #000000ef;
  }
  .faq h2{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .accordian{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
  }
  .accordian li{
  
    list-style: none;
    font-size: 17px;
    width: 100%;
    color:aliceblue;
    padding: 3px;
    margin-bottom: 10px;
  }
  .accordian li label{
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
    background:#303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }
  label:after{
    content:'+';
    font-size:34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
  }
  input[type="radio"]{
    display:none;
  }
  .accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  .accordian input[type=radio]:checked + label +.content{
    max-height: 600px;
    padding: 30px 20px;
  }
  .accordian input[type=radio]:before + label +.content{
  max-height: 600px;
  padding: 30px 20px;
  }
  .accordian input[type=radio]:checked + label::after{
    transform: rotate(135deg);
  }

h2{
    color: aliceblue;
    font-size: 40px;
  }
.col-items{

    width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

  }
.col-items a{
    padding: 50px;
    height: 128px;
    width: 128px;

  }
.col-items li{
    list-style: none;
}
  i{
    height: 128px;
    width: 128px;
    /* background-color: aliceblue; */
    color: aliceblue;
  }